<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td>Ten dang nhap:</td>
            <td><input type="text" name="username" id=""placeholder="Nhap ten nguoi dung"></td>
        </tr>
        <tr>
            <td>Mat khau:</td>
            <td><input type="password" name="password"></input></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></input></td>
        </tr>
    </table>
</form>
</body>
</html>