<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show user</title>
    <style>
        body {
            align-content: center;
            align-items: center;
            margin: 0px;
        }

    </style>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td>Ten nguoi dung: </td>
                <td><input type="text" name="username" ></td>
            </tr>
            <tr>
                <td>Mat khau: </td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>Nhap lai mat khau: </td>
                <td><input type="password" name="rpassword"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="text" name="email" ></td>
            </tr>
            <tr>
                <td><input type="submit" name="Dang ky"></td>
            </tr>
        </table>
    </form>
</body>
</html>